.block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 230px;
    width: 500px;
    align-items: flex-start;
    padding: 10px;
    margin: 25px;
    background-color:palevioletred; 
}

.block > #class {
    display: flex;
    flex-direction: column;
    height: 200px;
    text-align: center;
    font-size: 30px;
    font-family: Garamond, serif;
}

.information {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 15px;
}